@import url('~mapbox-gl/dist/mapbox-gl.css');
@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-calendars/styles/material.css";

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  position: relative;
  z-index: 1;

  #calendar {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    padding: 13px;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 2;

    .circle-red {
      background: url("../assets/img/red-circle.png") center center no-repeat;
    }
  }

  #cmd-panel {
    background-color: #e5e5e5;
    flex-basis: 400px;
    padding: 13px;
    position: relative;
    z-index: 1;

    h1 {
      margin: 26px;
      text-decoration: underline;
    }

    h2 {
      margin: 13px;
    }

    hr {
      border: 3px solid #111111;
      margin: 23px 0;
    }

    input, textarea {
      display: block;
      padding: 7px;
      margin: 3px 0 13px 0;
      width: 100%;
    }

    input[type = "checkbox" ] {
      display: inline;
      width: 20%;
    }

    textarea {
      height: 100px;
    }

    .btn {
      background-color: #e8efff;
      border-radius: 3px;
      cursor: pointer;
      margin-bottom: 13px;
      margin-left: 25%;
      padding: 7px;
      width: 50%;

      &:hover {
        background-color: #d3e5ff;
      }
    }

    .hidden {
      display: none;
    }

    .error,
    #position-msg {
      color: #ff3449;
      margin-bottom: 7px;
      margin-top: -7px;
    }

    .error-field {
      border: 1px solid #ff3449;
      border-radius: 3px;
    }

    .input-datetime {
      display: flex;
      justify-content: space-around;

      & div {
        padding: 0 3px;
        flex-basis: 50%;
      }
    }

    #cmd-panel-mask {
      display: none;
      background-color: #e1fffa;
      height: 100%;
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
    }

    .text-mask {
      color: #111111;
      font-size: 32px;
      font-weight: 700;
      padding: 13px;
      transform: translate(0,200px) rotateZ(-45deg) ;
    }
  }

  #cmd-map {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    left: 450px;
    padding: 13px;
    position: absolute;
    top: 50px;
    width: 400px;
    z-index: 2;

    .btn-map {
      border: 2px solid #ff4528;
      border-radius: 3px;
      cursor: pointer;
      height: 80px;
      width: 80px;
    }

    .cmd-nature {
      background: url("../assets/img/nature.png") center center no-repeat;
    }

    .cmd-recenter {
      background: url("../assets/img/POlogo.png") center center no-repeat;
    }

    .cmd-reload {
      background: url("../assets/img/reload.png") center center no-repeat;
    }

    .cmd-satellite {
      background: url("../assets/img/satellite.png") center center no-repeat;
    }
  }

  #map {
    height: 100vh;
    flex-grow: 1;

    .map-marker {
      cursor: pointer;
      height: 64px;
      margin-left: 16px;
      margin-top: -23px;
      width: 64px;
    }

    .flag-blue {
      background-image: url("../assets/img/flag-blue.png");
    }

    .flag-red {
      background-image: url("../assets/img/flag-red.png");
    }

    .flag-green {
      background-image: url("../assets/img/flag-green.png");
    }

    .flag-orange {
      background-image: url("../assets/img/flag-orange.png");
    }

    #popup-inner {
      min-height: 200px;
      padding: 13px;
      width: 400px;

      .btns-popup {
        display: flex;
        justify-content: space-around;
        margin: 26px 13px 0 13px;

        .btn-popup {
          background-color: #e8efff;
          cursor: pointer;
          font-size: 24px;
          text-align: center;
          height: 40px;
          width: 40px;

          & > * {
            display: inline-block;
            vertical-align: middle;
          }

          &::before {
            display: inline-block;
            vertical-align: middle;
            content: '';
            height: 100%;
            width: 0;
          }

          &:hover {
            background-color: #d3e5ff;
          }
        }
      }

      .popup-alert {
        color: #ff4528;
        font-size: 14px;
        font-style: italic;
        margin-bottom: 7px;
      }

      .popup-title {
        font-size: 24px;
        font-weight: 700;
        padding-left: 13px;
        margin-bottom: 13px;
      }

      .popup-date {
        font-style: italic;
        margin-bottom: 7px;
      }

      .popup-description {
        font-size: 16px;
        text-wrap: normal;
      }
    }
  }

  #loader {
    align-items: center;
    background-color: #bbeeff;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 10;

    .loader-spinner {
      background: url("../assets/img/loader.png") center center no-repeat;
      width: 400px;
      height: 400px;

      animation: rotation linear 2000ms infinite;
    }

    @keyframes rotation {
      from {
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(360deg);
      }
    }
  }
}